.apartment {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;

    @media #{$tablet} {
        margin-bottom: 76px;
    }

    h1 {
        font-size: 50px;

        @media screen and (max-width: 1225px) {
            font-size: 50px !important;
        }

        @media #{$tablet} {
            font-size: 40px !important;
        }
    }

    &__wrapper {
        width: 83%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1169px) {
            width: calc(100% - 20px);
            margin: 0 10px;
        }

        @media #{$tablet} {
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__view {
        @media #{$tablet} {
            width: 100%;
        }
    }

    &__select {
        position: relative;
        max-width: 282px;
        border-radius: 10px;
        border: 1px solid #C8D9E3;
        margin-top: 18px;
        margin-bottom: 47px;
        overflow: hidden;

        @media #{$tablet} {
            margin-bottom: 75px;
        }

        select {
            font-family: $second-font;
            font-size: 18px;
            font-weight: $font-weight-base;
            background-color: transparent;
            color: $color-gray;
            width: calc(100% + 16px);
            height: 100%;
            padding: 14px 0 14px 16px;
            border: none;
            cursor: pointer;
        }

        svg {
            position: absolute;
            top: 22px;
            right: 20px;
            pointer-events: none;
        }
    }

    &__floor-plan {
        width: 100%;
        margin-bottom: 40px;
    }

    &__swiper,
    &__mini-swiper {
        width: 810px;

        @media screen and (max-width: 1700px) {
            width: 610px;
        }

        @media screen and (max-width: 1300px) {
            width: 510px;
        }
        
        @media screen and (max-width: 550px) {
            width: 360px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }

    &__swiper {
        margin-bottom: 110px;

        .swiper-slide {
            a {
                max-width: 100%;
                img {
                    max-width: 100%;
                    pointer-events: none;
                }
            }
        }
    }

    &__mini-swiper {
        .swiper-slide {
            img {
                pointer-events: none;

                @media screen and (max-width: 1700px) {
                    height: 160px;
                }

                @media screen and (max-width: 1300px) {
                    height: 120px;
                }

                @media screen and (max-width: 550px) {
                    height: 100px;
                }
            }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 17px;
            color: #AABFD4;
        }

        .swiper-button-prev::after {
            @media screen and (max-width: 550px) {
                margin-right: 25px;
            }
        }

        .swiper-button-next::after {
            @media screen and (max-width: 550px) {
                margin-left: 25px;
            }
        }
    }

    &__control {
        width: 35.6%;
        height: max-content;
        padding: 35px 24px 58px;
        box-sizing: border-box;
        border-radius: 10px;
        background: rgba(255, 255, 255, .2);
        box-shadow: 0px 4px 50px 0px rgba(74, 125, 152, 0.10);

        @media #{$desktop} {
            width: 40%;
        }

        @media #{$tablet} {
            width: 75%;
        }

        @media #{$phone} {
            padding: 24px 15px 48px 11px;
            width: 100%;
        }
    }

    &__place {
        padding: 0 0 27px 17px;
        border-bottom: 1px #DFE7EE solid;

        @media #{$phone} {
            padding-bottom: 0;
            border: none;
        }

        p:nth-of-type(1) {
            font-family: $second-font;
            font-size: $font-size-base;
            font-weight: $font-weight-base;
            line-height: 20px;
            color: #8EA4B0;
        }

        p:nth-of-type(2) {
            font-family: $second-font;
            font-size: 30px;
            font-weight: $font-weight-base;
            line-height: 31px;
            color: #373737;
        }
    }

    &__price {
        margin: 34px 0 44px 17px;

        @media #{$phone} {
            margin: 27px 0 27px 17px;
        }

        p:nth-of-type(1) {
            font-family: $second-font;
            font-size: 40px;
            font-weight: $font-weight-base;
            line-height: 31px;
            color: #FC9D27;
            margin-bottom: 10px;
        }

        p:nth-of-type(2) {
            font-family: $second-font;
            font-size: 25px;
            font-weight: $font-weight-base;
            line-height: 20px;
            color: #8EA4B0;
        }
    }

    &__mortgage {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        height: 111px;
        background: $color-white;
        box-sizing: border-box;
        padding: 12px 17px 12px 20px;
        border-radius: 10px;
        border: 1px solid #DDE6ED;
        margin-bottom: 20px;

        h3 {
            font-family: $main-font;
            font-size: 25px;
            font-weight: $font-weight-bold;
            line-height: 24.5px;
            color: #8EA4B0;
            margin: 8px 0 4px 0;
        }

        div>div {
            display: flex;
            align-items: flex-end;

            p {
                max-width: 145px;
                font-family: $second-font;
                font-size: 14px;
                font-weight: $font-weight-base;
                line-height: 24.5px;
                color: #A1ADB4;

                &:nth-of-type(1) {
                    margin-right: 36px;

                    @media screen and (max-width: 450px) {
                        margin-right: 0;
                    }
                }

                span {
                    font-family: $main-font;
                    font-size: 25px;
                    font-weight: $font-weight-bold;
                    color: #45809F;
                }
    
                b {
                    font-size: 18px;
                    color: #0F0F0F;
                }
            }
        }

        svg {
            @media #{$phone} {
                position: absolute;
                width: 36px;
                height: 36px;
                top: 13px;
                right: 15px;
            }
        }
    }

    &__buy {
        display: flex;
        margin-bottom: 45px;

        @media #{$phone} {
            margin-bottom: 10px;
        }

        a:nth-of-type(1) {
            font-family: $main-font;
            font-size: 20px;
            font-weight: $font-weight-bold;
            line-height: 49px;
            color: $color-white;
            text-align: center;
            text-decoration: none;
            width: 100%;
            background-color: #FC9D27;
            border-radius: 10px;
            transition: all .1s linear;
    
            &:hover {
                color: $second-color;
            }
        }

        a:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 68px;
            background-color: $color-white;
            border-radius: 10px;
            box-shadow: 0 0 25px rgba($color: #08212E, $alpha: 0.08);
            margin-left: 5px;

            &:hover {
                path {
                    stroke: $second-color;
                }
            }

            svg {
                width: 23px;

                path {
                    transition: all .1s linear;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding-left: 26px;

        @media #{$phone} {
            padding-left: 17px;
        }

        li {
            display: flex;
            font-family: $second-font;
            font-size: 18px;
            font-weight: $font-weight-base;
            color: $color-gray;
            padding: 17px 0;
            border-bottom: 1px solid #DFE7EE;

            &:last-child {
                border-bottom: none;
            }

            span {
                width: 50%;
                font-family: $main-font;
                font-size: 20px;
                font-weight: $font-weight-bold;
            }
        }
    }
}