.header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 50px auto;

    @media #{$tablet} {
        align-items: center;
        background-color: #FFFFFFE5;
        box-shadow: 0px 4px 25px 0px #00000040;
        height: 69px;
        margin: 0;
    }

    &__menu {
        display: flex;
        align-items: center;
        width: auto;
        height: 50px;
        background-color: #6189AE80;
        backdrop-filter: blur(12.5px);
        padding-top: 2px;
        padding-left: 45px;
        padding-right: 27px;
        margin-right: 13px;
        border-radius: 31px;
        transition: all .3s linear;

        @media #{$tablet} {
            background-color: transparent;
            backdrop-filter: none;
            height: auto;
            padding: 0;
            margin: 0;
        }
    }

    &__nav {
        display: flex;
        transition: all .3s linear;

        &__element {
            font-family: $main-font;
            font-size: 25px;
            font-weight: $font-weight-base;
            line-height: 25px;
            text-decoration: none;
            text-transform: uppercase;
            text-wrap: nowrap;
            color: $color-white;
            margin-right: 50px;
        }

        &_hidden {
            display:none;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        margin-left: 50px;
        transition: all .3s linear;

        @media screen and (max-width: 1129px) {
            margin-left: 0;
        }

        @media #{$tablet} {
            margin: 0 30px;
        }

        @media #{$phone} {
            margin-left: 20px;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }

        &__element {
            display: flex;
            margin-right: 30px;

            @media #{$tablet} {
                margin-right: 20px;

                path {
                    fill: $color-gray;
                }
            }
        }
    }

    &__logo {
        display: none;

        @media #{$tablet} {
            display: flex;
            height: 30px;
        }
    }

    &__tel {
        font-family: $main-font;
        font-size: 25px;
        font-weight: $font-weight-base;
        line-height: 25px;
        color: $color-white;
        text-decoration: none;
        text-wrap: nowrap;

        @media #{$tablet} {
            color: $color-gray;
        }

        @media #{$phone} {
            position: absolute;
            content: url(../imgs/svg/tel-icon.svg);
            right: 20px;
        }
    }

    &__select-ap {
        display: flex;
        align-items: center;
        font-family: $main-font;
        font-size: 25px;
        font-weight: $font-weight-base;
        line-height: 25px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        background-color: #6189AE80;
        backdrop-filter: blur(12.5px);
        width: 157px;
        padding: 0 69px;
        padding-top: 2px;
        border-radius: 31px;
        margin-right: 30px;
        text-wrap: nowrap;

        @media #{$tablet} {
            display: none;
        }
    }

    &__burger-button {
        background-color: #FFFFFF33;
        backdrop-filter: blur(12.5px);
        padding: 19px 31px 17px 34px;
        border: none;
        border-radius: 31px;

        @media #{$tablet} {
            position: absolute;
            background-color: transparent;
            backdrop-filter: none;
            padding: 0;
            border-radius: 0;
            top: 27px;
            left: 20px;
        }
    }
}

.header__wrapper {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.invisible {
    background-color: transparent;
    backdrop-filter: none;
    
    &> .header {
        &__nav, &__socials {
            opacity: 0;

            @media #{$tablet} {
                opacity: 1;
            }
        }
    }
}