.life {
    margin-top: 20px;

    @media #{$desktop} {
        margin-top: -100px;
    }

    @media #{$tablet} {
        margin-top: 50px;
    }

    @media #{$phone} {
        margin-top: 40px;
    }

    &__title {
        margin-bottom: 60px;

        @media #{$tablet} {
            margin-bottom: 30px;
        }
    }

    &__swiper {
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 300px;
            top: 0;
            z-index: 10;
            pointer-events: none;

            @media #{$tablet} {
                width: 150px;
            }

            @media #{$phone} {
                width: 100px;
            }
        }

        &:before {
            background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            left: 0;
        }

        &:after {
            background: linear-gradient(-90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            right: 0;
        }

        img {
            display: block;
            width: 100%;
        }

        &-pagination {
            position: initial;
            margin-top: 22px;
            display: none;

            @media #{$tablet} {
                display: block;
            }
        }
    }
}

.swiper-pagination {
    &-bullet {
        width: 9px;
        height: 9px;
        margin: 0 12px 5px 12px !important;

        &-active {
            width: 12px;
            height: 12px;
            border: 4px $color-white solid;
            background-color: $color-blue;
            margin: 0 12px !important;
        }
    }
}