.news-content {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    @media #{$tablet} {
        margin-top: 15px;
    }

    &__title {
        margin-bottom: 30px;

        @media #{$phone} {
            font-size: 40px;
            line-height: 40px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 510px 510px 510px;
        grid-gap: 30px;
        margin: 0 auto;

        @media screen and (max-width: 1630px) {
            grid-template-columns: 450px 450px 450px;
        }

        @media screen and (max-width: 1450px) {
            grid-template-columns: 400px 400px 400px;
        }

        @media screen and (max-width: 1300px) {
            grid-template-columns: 510px 510px;
            grid-gap: 20px;
        }

        @media screen and (max-width: 1100px) {
            grid-template-columns: 450px 450px;
        }

        @media #{$tablet} {
            grid-template-columns: 400px 400px;
        }

        @media screen and (max-width: 860px) {
            grid-template-columns: 349px 349px;
        }

        @media #{$phone} {
            grid-template-columns: 510px;
            grid-gap: 10px;
        }

        @media screen and (max-width: 550px) {
            grid-template-columns: 400px;
        }

        @media screen and (max-width: 450px) {
            grid-template-columns: 349px;
        }

        .news__card {
            display: flex;
            margin: 0;

            @media screen and (max-width: 1300px) {
                display: none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: flex;
                }
            }

            @media #{$phone} {
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: flex;
                }
            }
        }
    }
}