.news {
    position: relative;
    width: 83%;
    margin: 122px auto 0 auto;

    @media #{$tablet} {
        width: 100%;
        margin-top: 350px;
    }

    @media screen and (max-width: 435px) {
        margin-top: 0;
    }

    &__title {
        margin-left: 0;
        margin-bottom: 40px;

        @media #{$tablet} {
            margin-left: 10px;
        }

        @media #{$phone} {
            margin-bottom: 25px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;

        @media #{$tablet} {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }

    &__card {
        display: flex;
        max-width: 510px;
        height: max-content;
        max-height: 315px;
        background-color: $color-white;
        border-radius: 10px;
        margin-right: 32px;
        overflow: hidden;
        transition: all .1s linear;
        text-decoration: none;
        box-shadow: 0px 0px 50px 0px #17334226;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 50px 0px rgba($color: $color-blue, $alpha: 0.3);
        }


        @media screen and (max-width: 1600px) {
            display: none;

            &:nth-child(1),
            &:nth-child(2) {
                display: flex;
            }
        }
        
        @media #{$tablet} {
            margin: 0 13px 21px 13px;
        }

        &:last-child {
            margin-right: 0;

            @media #{$tablet} {
                margin-bottom: 0;
            }
        }

        &__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-height: 315px;
            margin: 24px 20px 16px 24px;
        }

        &__date {
            font-family: $second-font;
            font-size: 30px;
            font-weight: $font-weight-light;
            color: $color-gray;
            padding-bottom: 16px;
            width: 211px;
            border-bottom: 1px solid #C8D9E3;
            margin-bottom: 24px;

            @media screen and (max-width: 1146px) {
                margin-bottom: 16px;
            }
            
            span {
                font-size: 18px;
                color: #96ABB2;
            }
        }

        &__title {
            font-family: $main-font;
            font-size: 25px;
            font-weight: $font-weight-bold;
            line-height: 25px;   
            color: $color-gray;
            margin-bottom: 24px;

            @media screen and (max-width: 1146px) {
                margin-bottom: 8px;
            }
        }

        &__text {
            font-family: $second-font;
            font-size: 14px;
            font-weight: $font-weight-base;
            line-height: 20px;
            color: $color-gray;
            max-width: 400px;
            margin-bottom: 14px;
        }

        &__button {
            position: absolute;
            right: 0;
            bottom: 0;

            @media #{$tablet} {
                top: -8px;
                right: -4px;
            }
        }
    }

    &__all-news {
        position: absolute;
        display: flex;
        width: max-content;
        height: max-content;
        align-items: center;
        font-family: $main-font;
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-decoration: none;
        transition: all .1s linear;
        color: #FC9D27;
        top: 40px;
        right: 0;

        &:hover {
            color: $second-color;

            path {
                stroke: $second-color;
            }
        }

        @media #{$tablet} {
            top: auto;
            left: calc(50% - 52px);
            bottom: -28.5px;
        }

        svg {
            margin-left: 13px;
            margin-bottom: 2px;

            path {
                transition: all .1s linear;
            }
        }
    }
}