.screen {
    position: relative;
    display: flex;
    height: 1144px;
    background: url(../imgs/screen-bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;

    @media #{$desktop} {
        height: 900px;
    }

    @media #{$tablet} {
        height: 750px;
    }

    @media screen and (max-width: 600px) {
        height: 630px;
    }

    @media screen and (max-width: 500px) {
        height: 600px;
    }

    @media screen and (max-width: 450px) {
        height: 550px;
    }

    @media screen and (max-width: 400px) {
        height: 500px;
    }


    &__logo {
        position: absolute;
        top: 40px;
        left: 163px;
        z-index: 1;
        pointer-events: none;

        @media screen and (max-width: 1288px) {
            left: 50px;
        }

        @media screen and (max-width: 1176px) {
            height: 65px;
            left: 25px;
        }

        @media #{$tablet} {
            display: none;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-family: $main-font;
        font-size: 90px;
        font-weight: $font-weight-bold;
        line-height: 90px;
        color: $color-white;
        margin-top: 228px;
        margin-left: 570px;
        z-index: 1;

        span {
            font-size: 80px;

            @media screen and (max-width: 1600px) {
                font-size: 70px;
            }

            @media #{$desktop} {
                font-size: 60px;
            }
            
            @media screen and (max-width: 1150px) {
                font-size: 50px;
            }
        }

        @media screen and (max-width: 1720px) {
            margin-left: 470px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 70px;
        }

        @media #{$desktop} {
            font-size: 60px;
            line-height: 60px;
            margin-top: 240px;
            margin-left: 400px;
        }

        @media screen and (max-width: 1150px) {
            font-size: 50px;
        }
        
        @media #{$tablet} {
            font-size: 75px;
            line-height: 75px;
            margin-top: 84px;
            margin-left: 13px;
        }

        @media #{$phone} {
            font-size: 60px;
            line-height: 60px;
        }

        @media screen and (max-width: 600px) {
            font-size: 50px;
            line-height: 50px;
        }
    }

    &__button {
        display: none;

        @media #{$tablet} {
            position: absolute;
            display: flex;
            line-height: 54px;
            margin-right: 0;
            bottom: 50px;
            z-index: 2;
            left: calc(50% - 150px);
        }

        @media #{$phone} {
            line-height: 56px;
            padding: 0 49px;
            left: calc(50% - 130px);
            bottom: 0;
        }
    }

    &__desktop {
        position: absolute;
        width: 100%;
        height: 100%;
        
        @media #{$phone} {
            display: none;
        }
    }

    &__mobile {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        
        @media #{$phone} {
            display: block;
        }
    }

    &__cloud {
        &-top, &-middle, &-bottom {
            position: absolute;
            width: 100%;
            pointer-events: none;
        }

        &-middle {
            bottom: -320px;
            z-index: 1;

            @media screen and (max-width: 1800px) {
                bottom: -280px;
            }

            @media #{$desktop} {
                bottom: -230px;
            }

            @media #{$tablet} {
                bottom: -175px;
            }

            @media screen and (max-width: 900px) {
                bottom: -150px;
            }

            @media #{$phone} {
                bottom: -275px;
            }
            
            @media screen and (max-width: 650px) {
                bottom: -225px;
            }

            @media screen and (max-width: 550px) {
                bottom: -175px;
            }

            @media screen and (max-width: 500px) {
                bottom: -150px;
            }

            @media screen and (max-width: 450px) {
                bottom: -125px;
            }
        }

        &-bottom {
            left: -600px;
            bottom: -384px;
            z-index: 1;

            @media screen and (max-width: 1800px) {
                bottom: -300px;
            }

            @media #{$desktop} {
                bottom: -250px;
            }
        }
    }

    &__house {
        position: absolute;
        width: 100%;
        bottom: 0;
        pointer-events: none;

        @media screen and (max-width: 1920px) {
            width: auto;
        }

        @media screen and (max-width: 1720px) {
            left: -100px;
        }

        @media #{$desktop} {
            height: 800px;
            left: 0;
        }

        @media #{$tablet} {
            height: auto;
            width: 100%;
        }
    }

    &__light {
        position: absolute;
        top: 40px;
        right: 117px;
        pointer-events: none;

        @media screen and (max-width: 1800px) {
            right: -136px;
        }

        @media screen and (max-width: 1660px) {
            right: -236px;
        }

        @media #{$desktop} {
            top: 50px;
            height: 900px;
            right: -175px;
        }

        @media #{$tablet} {
            height: 345px;
            right: 0;
        }
    }
}