.section-title {
    position: relative;
    font-family: $main-font;
    font-size: 80px;
    font-weight: $font-weight-bold;
    line-height: 80px;
    color: $color-light-gray;
    width: max-content;
    margin-left: 8.5%;
    z-index: 1;

    @media screen and (max-width: 1400px) {
        font-size: 70px;
    }

    @media screen and (max-width: 1225px) {
        font-size: 60px;
        line-height: 60px;
    }
    
    @media screen and (max-width: 1168px) {
        margin-left: 10px;
    }

    @media #{$phone} {
        font-size: 50px;
        line-height: 50px;
    }

    span {
        color: $color-blue;
    }
}