.utp {
    position: relative;

    @media #{$tablet} {
        margin-top: 20px;
    }

    @media #{$phone} {
        margin-top: 240px;
    }

    &__title {
        max-width: 680px;
        color: $color-blue;
        z-index: 2;

        @media #{$tablet} {
            margin: 0 auto;
        }

        @media #{$phone} {
            font-size: 40px !important;
        }

        span {
            color: #FC9D27;
        }
    }

    &__description {
        font-family: $second-font;
        font-size: 25px;
        font-weight: $font-weight-light;
        line-height: 25px;
        color: $color-light-blue;
        max-width: 800px;
        margin-left: 163px;
        margin-bottom: 60px;
        z-index: 2;

        @media screen and (max-width: 1534px) {
            margin-left: 50px;
        }

        @media screen and (max-width: 1400px) {
            max-width: 600px;
            font-size: 25px;
        }

        @media screen and (max-width: 1225px) {
            max-width: 500px;
            font-size: 20px;
        }

        @media screen and (max-width: 1168px) {
            margin-left: 10px;
        }

        @media #{$tablet} {
            margin: 0 auto;
        }

        @media #{$phone} {
            max-width: 350px;
            font-size: 18px;
            line-height: normal;
        }
    }

    &__squares {
        position: absolute;
        height: 730px;
        top: -415px;
        right: 100px;
        z-index: 1;
    
        @media screen and (max-width: 1800px) {
            right: 70px;
        }

        @media #{$desktop} {
            top: -350px;
            right: 60px;
        }

        @media screen and (max-width: 1150px) {
            right: 55px;
        }
    
        @media #{$tablet} {
            top: -450px;
            left: calc(50% - 165px);
        }

        @media screen and (max-width: 400px) {
            left: calc(50% - 145px);
        }
    
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 735px;
            rotate: -45deg;
    
            @media #{$desktop} {
                width: 645px;
            }

            @media screen and (max-width: 1150px) {
                width: 585px;
            }

            @media #{$tablet} {
                width: 435px;
            }
        }
    }

    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 230px;
        background-color: rgba(238, 246, 250, .6);
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 50px 0 rgba(21, 81, 113, .1);
        border-radius: 50px;
        margin-right: 15px;
        margin-bottom: 15px;

        @media #{$desktop} {
            width: 200px;
            height: 200px;
        }

        @media screen and (max-width: 1150px) {
            width: 180px;
            height: 180px;
        }

        @media #{$tablet} {
            width: 130px;
            height: 130px;
            border-radius: 20px;
        }

        @media #{$phone} {
            width: 116px;
            height: 116px;
        }

        &__text {
            font-family: $main-font;
            font-weight: $font-weight-bold;
            font-size: 35px;
            color: #4A7D98;
            text-align: center;
            rotate: 45deg;

            @media #{$desktop} {
                font-size: 30px;
            }

            @media #{$tablet} {
                font-size: 25px;
            }
        }
    }

    &__photos {
        display: flex;
        height: 775px;
        margin-left: 163px;
        overflow: hidden;

        @media screen and (max-width: 1800px) {
            margin-left: 50px;
        }

        @media screen and (max-width: 1640px) {
            margin-left: -20px;
        }

        @media screen and (max-width: 1534px) {
            justify-content: center;
            height: 600px;
            margin-top: 100px;
            margin-left: 0;
        }

        @media #{$desktop} {
            margin-left: -100px;
        }

        @media screen and (max-width: 1175px) {
            margin-left: -250px;
        }

        @media #{$tablet} {
            height: 465px;
            margin-left: -100px;
            margin-top: 40px;
        }

        @media screen and (max-width: 835px) {
            margin-left: -150px;
        }

        @media #{$phone} {
            height: 265px;
            margin-left: 0;
        }

        @media screen and (max-width: 600px) {
            margin-left: -70px;
        }

        @media screen and (max-width: 500px) {
            margin-left: -150px;
        }

        img {
            width: max-content;
            height: max-content;
            border-radius: 20px;
            margin-right: 16px;
            margin-bottom: 12px;
            
            @media screen and (max-width: 1534px) {
                width: 600px;
                height: 400px;
                margin-right: 12px;
                margin-bottom: 8px;
            }

            @media #{$tablet} {
                width: 450px;
                height: 300px;
            }

            @media #{$phone} {
                width: 263px;
                height: 175px;
            }
        }

        &> div {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 84px;

            @media #{$phone} {
                margin-top: 30px;
            }

            img {
                max-width: 387px;
                height: 232px;
                margin-right: 12px;

                @media screen and (max-width: 1534px) {
                    max-width: 300px;
                    height: 180px;
                    margin-right: 8px;
                }

                @media #{$tablet} {
                    max-width: 200px;
                    height: 120px;
                }

                @media #{$phone} {
                    max-width: 142px;
                    height: 85px;
                }

                &:last-child {
                    max-width: 630px;
                    height: 446px;
                    margin: 0;

                    @media screen and (max-width: 1534px) {
                        max-width: 500px;
                        height: 305px;
                    }

                    @media #{$tablet} {
                        max-width: 400px;
                        height: 244px;
                    }

                    @media #{$phone} {
                        max-width: 258px;
                        height: 140px;
                    }
                }
            }
        }
    }
}