.utp {
    position: relative;
    margin-top: 100px;

    @media #{$tablet} {
        margin-top: 20px;
    }

    &__title {
        max-width: 680px;

        @media #{$tablet} {
            margin: 0 auto;
        }
    }

    &__description {
        font-family: $second-font;
        font-size: 30px;
        font-weight: $font-weight-light;
        line-height: 35px;
        color: $color-light-blue;
        max-width: 680px;
        margin-left: 163px;
        margin-bottom: 60px;

        @media screen and (max-width: 1534px) {
            margin-left: 50px;
        }

        @media screen and (max-width: 1400px) {
            max-width: 600px;
            font-size: 25px;
        }

        @media screen and (max-width: 1225px) {
            max-width: 500px;
            font-size: 20px;
        }

        @media screen and (max-width: 1168px) {
            margin-left: 10px;
        }

        @media #{$tablet} {
            margin: 0 auto;
        }

        @media #{$phone} {
            max-width: 340px;
            font-size: 18px;
            line-height: normal;
        }
    }

    &__spheres {
        position: absolute;
        width: 600px;
        height: 600px;
        top: -150px;
        right: 214px;
        z-index: 1;

        @media screen and (max-width: 1650px) {
            right: 100px;
        }
        @media screen and (max-width: 1534px) {
            right: 10px;
        }

        @media screen and (max-width: 1168px) {
            width: 550px;
            height: 550px;
        }

        @media #{$tablet} {
            top: 150px;
            right: 20%;
        }

        @media #{$phone} {
            top: 100px;
            width: 375px;
            height: 375px;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 600px) {
            right: 15%;
        }

        @media screen and (max-width: 520px) {
            right: 10%;
        }

        @media screen and (max-width: 470px) {
            right: 20px;
        }

        @media screen and (max-width: 410px) {
            right: 0;
        }
    }

    &__sphere {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $main-font;
        font-weight: $font-weight-base;
        color: $color-dark-blue;
        background: radial-gradient(49.25% 49.25% at 39.51% 29.03%, #FFFFFF 0%, #A2C4D6 100%);
        border-radius: 100%;

        &:nth-child(1) {
            font-size: 50px;
            width: 241px;
            height: 232px;
            top: 133px;
            left: 154px;
            z-index: 2;

            @media screen and (max-width: 1168px) {
                font-size: 45px;
                width: 220px;
                height: 212px;
                left: 174px;
            }

            @media #{$phone} {
                font-size: 35px;
                width: 163px;
                height: 157px;
                top: 110px;
                left: 110px;
            }
        }

        &:nth-child(2) {
            font-size: 40px;
            width: 197px;
            height: 190px;
            top: 72px;
            left: 0;

            @media screen and (max-width: 1168px) {
                font-size: 35px;
                width: 177px;
                height: 170px;
                left: 40px;
            }

            @media #{$phone} {
                font-size: 30px;
                width: 133px;
                height: 128px;
                left: 0;
            }
        }

        &:nth-child(3) {
            font-size: 30px;
            width: 197px;
            height: 190px;
            top: 44px;
            left: 308px;

            @media screen and (max-width: 1168px) {
                font-size: 25px;
                width: 177px;
                height: 170px;
            }

            @media #{$phone} {
                font-size: 20px;
                width: 136px;
                height: 131px;
                left: 210px;
            }
        }

        &:nth-child(4) {
            font-size: 30px;
            width: 128px;
            height: 125px;
            top: 255px;
            left: 390px;
            
            @media screen and (max-width: 1168px) {
                font-size: 25px;
                width: 108px;
                height: 105px;
                top: 235px;
            }

            @media #{$phone} {
                font-size: 20px;
                width: 86px;
                height: 85px;
                top: 190px;
                left: 270px;
            }
        }

        &:nth-child(5) {
            font-size: 30px;
            width: 160px;
            height: 156px;
            top: 350px;
            left: 295px;

            @media screen and (max-width: 1168px) {
                font-size: 25px;
                width: 140px;
                height: 136px;
                top: 320px;
            }

            @media #{$phone} {
                font-size: 20px;
                width: 108px;
                height: 105px;
                top: 250px;
                left: 210px;
            }
        }

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            filter: blur(10px);
        }

        &:nth-child(6),
        &:nth-child(8) {
            width: 60px;
            height: 60px;
            
            @media #{$phone} {
                width: 40px;
                height: 40px;
            }
        }

        &:nth-child(6) {
            top: 30px;
            left: 197px;

            @media #{$phone} {
                top: 50px;
                left: 140px;
            }
        }

        &:nth-child(7) {
            width: 77px;
            height: 80px;
            top: 191px;
            right: 0;

            @media #{$phone} {
                display: none;
            }
        }

        &:nth-child(8) {
            top: 293px;
            left: 72px;

            @media #{$phone} {
                top: 220px;
                left: 50px;
            }
        }

        &:nth-child(9) {
            width: 102px;
            height: 105px;
            top: 361px;
            left: 133px;

            @media #{$phone} {
                width: 70px;
                height: 70px;
                top: 270px;
                left: 100px;
            }
        }
    }

    &__photos {
        display: flex;
        height: 711px;
        margin-left: 163px;
        overflow: hidden;

        @media screen and (max-width: 1800px) {
            margin-left: 50px;
        }

        @media screen and (max-width: 1640px) {
            margin-left: -20px;
        }

        @media screen and (max-width: 1534px) {
            justify-content: center;
            height: 600px;
            margin-top: 100px;
            margin-left: 0;
        }

        @media #{$desktop} {
            margin-left: -100px;
        }

        @media screen and (max-width: 1175px) {
            margin-left: -250px;
        }

        @media #{$tablet} {
            height: 465px;
            margin-left: -100px;
            margin-top: 450px;
        }

        @media screen and (max-width: 835px) {
            margin-left: -150px;
        }

        @media #{$phone} {
            height: 265px;
            margin-left: 0;
            margin-top: 350px;
        }

        @media screen and (max-width: 600px) {
            margin-left: -70px;
        }

        @media screen and (max-width: 500px) {
            margin-left: -150px;
        }

        img {
            width: max-content;
            height: max-content;
            border-radius: 20px;
            margin-right: 16px;
            margin-bottom: 12px;
            
            @media screen and (max-width: 1534px) {
                width: 600px;
                height: 400px;
                margin-right: 12px;
                margin-bottom: 8px;
            }

            @media #{$tablet} {
                width: 450px;
                height: 300px;
            }

            @media #{$phone} {
                width: 263px;
                height: 175px;
            }
        }

        &> div {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 84px;

            @media #{$phone} {
                margin-top: 30px;
            }

            img {
                max-width: 387px;
                height: 232px;
                margin-right: 12px;

                @media screen and (max-width: 1534px) {
                    max-width: 300px;
                    height: 180px;
                    margin-right: 8px;
                }

                @media #{$tablet} {
                    max-width: 200px;
                    height: 120px;
                }

                @media #{$phone} {
                    max-width: 142px;
                    height: 85px;
                }

                &:last-child {
                    max-width: max-content;
                    height: max-content;
                    margin: 0;

                    @media screen and (max-width: 1534px) {
                        max-width: 500px;
                        height: 305px;
                    }

                    @media #{$tablet} {
                        max-width: 400px;
                        height: 244px;
                    }

                    @media #{$phone} {
                        max-width: 258px;
                        height: 140px;
                    }
                }
            }
        }
    }
}