@import url(reset.css);
/*
@media screen and (max-width: 1279px) {
      font-size: 23px;
  }
*/
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Cyrillic Bold"), local("Bebas-Neue-Cyrillic-Bold"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.woff2") format("woff2"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.woff") format("woff"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Cyrillic Regular"), local("Bebas-Neue-Cyrillic-Regular"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.woff2") format("woff2"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.woff") format("woff"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy/300/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/300/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/300/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/400/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/400/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/400/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #B6C0CB;
}

body::-webkit-scrollbar-thumb {
  background-color: #7AA0C5;
  border-radius: 20px;
}

.section-title {
  position: relative;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: #898989;
  width: -moz-max-content;
  width: max-content;
  margin-left: 163px;
  z-index: 1;
}
@media screen and (max-width: 1534px) {
  .section-title {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .section-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 1225px) {
  .section-title {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}
@media screen and (max-width: 1168px) {
  .section-title {
    margin-left: 10px;
  }
}
@media screen and (max-width: 749px) {
  .section-title {
    font-size: 40px !important;
    line-height: 40px !important;
  }
}
.section-title span {
  color: #5C90AB;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 50px auto;
}
@media screen and (max-width: 999px) {
  .header {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8980392157);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2509803922);
    height: 69px;
    margin: 0;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: rgba(97, 137, 174, 0.5019607843);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding-top: 2px;
  padding-left: 45px;
  padding-right: 27px;
  margin-right: 13px;
  border-radius: 31px;
  transition: all 0.3s linear;
}
@media screen and (max-width: 999px) {
  .header__menu {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
.header__nav {
  display: flex;
  transition: all 0.3s linear;
}
.header__nav_hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  top: 50px;
  left: 0;
  opacity: 0;
  transition: all 0.1s linear;
  pointer-events: none;
}
.header__nav_hidden > .header__nav__element {
  color: #5C90AB;
}
.header__nav_hidden > .header__nav__element::before {
  display: none;
}
.header__nav__element {
  position: relative;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: #fff;
  transition: all 0.1s linear;
  margin-right: 50px;
}
.header__nav__element::before {
  content: "";
  position: absolute;
  background-color: #FC9D27;
  transition: all 0.1s linear;
  width: 100%;
  height: 3px;
  bottom: -12px;
  opacity: 0;
}
.header__nav__element:hover, .header__nav__element:active {
  color: #233237;
}
.header__nav__element:hover::before, .header__nav__element:active::before {
  opacity: 1;
}
.header__nav__more {
  display: none;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.header__nav__more.active {
  display: block;
}
.header__nav__more-box {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.1s linear;
  margin-right: 50px;
}
@media screen and (max-width: 999px) {
  .header__nav__more-box {
    display: none;
  }
}
.header__socials {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
@media screen and (max-width: 1129px) {
  .header__socials {
    margin-left: 0;
  }
}
@media screen and (max-width: 999px) {
  .header__socials {
    margin: 0 30px;
  }
}
@media screen and (max-width: 749px) {
  .header__socials {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .header__socials {
    display: none;
  }
}
.header__socials__element {
  display: flex;
  margin-right: 30px;
}
.header__socials__element path {
  transition: all 0.1s linear;
}
@media screen and (max-width: 999px) {
  .header__socials__element {
    margin-right: 20px;
  }
  .header__socials__element path {
    fill: #44565D;
  }
}
.header__socials__element_vk:hover path {
  fill: #0A74F9;
}
.header__socials__element_viber:hover path {
  fill: #8F53A4;
}
.header__socials__element_whatsapp:hover path {
  fill: #2ED470;
}
.header__logo {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__logo {
    display: flex;
  }
}
.header__tel {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all 0.1s linear;
}
.header__tel:hover, .header__tel:active {
  color: #233237;
}
@media screen and (max-width: 999px) {
  .header__tel {
    color: #44565D;
  }
}
@media screen and (max-width: 749px) {
  .header__tel {
    position: absolute;
    content: url(../imgs/svg/tel-icon.svg);
    right: 20px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: #fff;
  transition: all 0.1s linear;
  background-color: rgba(97, 137, 174, 0.5019607843);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  width: 157px;
  padding: 0 69px;
  padding-top: 2px;
  border-radius: 31px;
  margin-right: 30px;
}
.header__button:hover, .header__button:active {
  color: #233237;
}
@media screen and (max-width: 999px) {
  .header__button {
    display: none;
  }
}
.header__burger-button {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding: 19px 31px 17px 34px;
  border: none;
  border-radius: 31px;
}
.header__burger-button path {
  transition: all 0.1s linear;
}
.header__burger-button:hover path {
  fill: #233237;
}
@media screen and (max-width: 999px) {
  .header__burger-button {
    position: absolute;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    padding: 0;
    border-radius: 0;
    top: 27px;
    left: 20px;
  }
}

.header__wrapper {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.invisible {
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.invisible > .header__nav, .invisible > .header__socials {
  opacity: 0;
}
@media screen and (max-width: 999px) {
  .invisible > .header__nav, .invisible > .header__socials {
    opacity: 1;
  }
}
.invisible > .header__nav__more-box {
  opacity: 0;
}

.header__logo {
  display: flex !important;
  margin-right: 47px;
}
@media screen and (max-width: 999px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__menu {
  padding-left: 29px;
  padding-right: 16px;
}
.header__socials__element:last-child {
  margin-right: 0;
}
@media screen and (max-width: 999px) {
  .header__button {
    display: flex;
    background-color: transparent;
    color: #44565D;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 749px) {
  .header__button {
    position: absolute;
    content: url(../imgs/svg/tel-icon.svg);
    width: auto;
    right: 20px;
  }
}

.burger {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100dvh;
  right: -100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
.burger__space {
  position: absolute;
  width: 100%;
  height: 100%;
}
.burger__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: -100%;
  width: 45%;
  height: 100%;
  padding-left: 108px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
@media screen and (max-width: 999px) {
  .burger__content {
    padding-left: 25px;
  }
}
@media screen and (max-width: 770px) {
  .burger__content {
    width: 50%;
  }
}
@media screen and (max-width: 749px) {
  .burger__content {
    box-sizing: border-box;
    padding-left: 15px;
    width: 100%;
  }
}
.burger__close-button {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border: none;
  background-color: transparent;
  top: 29px;
  right: 36px;
}
.burger__nav {
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media screen and (max-width: 840px) {
  .burger__nav {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 900px) {
  .burger__nav {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.burger__nav__element {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  color: #44565D;
  transition: all 0.1s linear;
}
.burger__nav__element:hover {
  color: #4A7D98;
}
@media screen and (max-width: 840px) {
  .burger__nav__element {
    font-size: 30px;
    line-height: 50px;
  }
}
@media screen and (max-height: 800px) {
  .burger__nav__element {
    font-size: 30px;
    line-height: 50px;
  }
}
.burger-open, .burger-open > .burger__content {
  right: 0;
}

.body-noscroll {
  overflow-y: hidden;
}

.apartment {
  display: flex;
  flex-direction: column;
}
.apartment__title {
  font-size: 50px;
  margin-top: 194px;
  margin-bottom: 30px;
}
@media screen and (max-width: 999px) {
  .apartment__title {
    margin: 100px 0 33px 13px;
    max-width: 700px;
  }
}
@media screen and (max-width: 749px) {
  .apartment__title {
    margin: 100px 0 10px 13px;
    max-width: 350px;
  }
}
@media screen and (max-width: 600px) {
  .apartment__title {
    margin-left: 13px;
  }
}
.apartment__wrapper {
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 1450px) {
  .apartment__wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 1350px) {
  .apartment__wrapper {
    width: 92.5%;
  }
}
@media screen and (max-width: 999px) {
  .apartment__wrapper {
    width: 100%;
  }
}
.apartment__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 999px) {
  .apartment__content {
    flex-direction: column;
    align-items: center;
  }
}
.apartment__view, .apartment__control {
  display: flex;
  flex-direction: column;
}
.apartment__view {
  position: relative;
}
.apartment__compass {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: 50px;
  right: -200px;
}
@media screen and (max-width: 1800px) {
  .apartment__compass {
    right: -100px;
  }
}
@media screen and (max-width: 1070px) {
  .apartment__compass {
    width: 80px;
    right: -30px;
  }
}
@media screen and (max-width: 999px) {
  .apartment__compass {
    width: -moz-max-content;
    width: max-content;
    right: -150px;
  }
}
@media screen and (max-width: 749px) {
  .apartment__compass {
    width: -moz-max-content;
    width: max-content;
    right: -50px;
  }
}
@media screen and (max-width: 550px) {
  .apartment__compass {
    width: 80px;
    top: 75px;
    right: -30px;
  }
}
@media screen and (max-width: 400px) {
  .apartment__compass {
    right: 0;
  }
}
.apartment__control {
  width: 568px;
  height: 783px;
  padding: 35px 24px 0 24px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #D9E3EB;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 50px 0px rgba(74, 125, 152, 0.1);
}
@media screen and (max-width: 1565px) {
  .apartment__control {
    width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .apartment__control {
    width: 400px;
  }
}
@media screen and (max-width: 999px) {
  .apartment__control {
    width: 568px;
  }
}
@media screen and (max-width: 600px) {
  .apartment__control {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .apartment__control {
    width: 349px;
  }
}
.apartment__select {
  font-family: #233237;
  font-size: 18px;
  font-weight: 400;
  color: #44565D;
  width: calc(100% + 16px);
  height: 100%;
  padding: 14px 0 14px 16px;
  border: none;
  cursor: pointer;
}
.apartment__select-box {
  position: relative;
  max-width: 282px;
  border-radius: 10px;
  border: 1px solid #C8D9E3;
  margin-bottom: 47px;
  overflow: hidden;
}
@media screen and (max-width: 999px) {
  .apartment__select-box {
    margin-bottom: 75px;
  }
}
.apartment__select__arrow {
  position: absolute;
  top: 22px;
  right: 20px;
  pointer-events: none;
}
.apartment__photo {
  margin: 0 0 110px 73px;
}
@media screen and (max-width: 1700px) {
  .apartment__photo {
    width: 500px;
  }
}
@media screen and (max-width: 1300px) {
  .apartment__photo {
    width: 400px;
  }
}
@media screen and (max-width: 999px) {
  .apartment__photo {
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 550px) {
  .apartment__photo {
    width: 300px;
  }
}
.apartment__floor-plan__title {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #44565D;
  margin-bottom: 10px;
}
.apartment__place {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8EA4B0;
  margin-left: 17px;
}
.apartment__square {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 31px;
  color: #373737;
  margin: 0 0 60px 17px;
}
.apartment__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 31px;
  color: #FC9D27;
  margin: 0 0 10px 17px;
}
.apartment__price-meter {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  color: #8EA4B0;
  margin: 0 0 44px 17px;
}
.apartment__mortgage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 111px;
  background: #fff;
  box-sizing: border-box;
  padding: 12px 17px 12px 20px;
  border-radius: 10px;
  border: 1px solid #DDE6ED;
  margin-bottom: 20px;
}
.apartment__mortgage__content {
  display: flex;
  flex-direction: column;
}
.apartment__mortgage__title {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 24.5px;
  color: #8EA4B0;
  margin: 8px 0 4px 0;
}
.apartment__mortgage__bottom {
  display: flex;
  align-items: flex-end;
}
.apartment__mortgage__payment, .apartment__mortgage__bid {
  max-width: 145px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
  color: #A1ADB4;
  margin-right: 36px;
}
@media screen and (max-width: 1200px) {
  .apartment__mortgage__payment, .apartment__mortgage__bid {
    max-width: none;
  }
}
@media screen and (max-width: 999px) {
  .apartment__mortgage__payment, .apartment__mortgage__bid {
    max-width: 145px;
  }
}
@media screen and (max-width: 600px) {
  .apartment__mortgage__payment, .apartment__mortgage__bid {
    max-width: none;
  }
}
@media screen and (max-width: 450px) {
  .apartment__mortgage__payment, .apartment__mortgage__bid {
    margin-right: 0;
  }
}
.apartment__mortgage__payment span, .apartment__mortgage__bid span {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #45809F;
}
.apartment__mortgage__payment b, .apartment__mortgage__bid b {
  font-size: 18px;
  color: #0F0F0F;
}
.apartment__buy {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #FC9D27;
  padding: 16px 0;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: all 0.1s linear;
}
.apartment__buy:hover {
  color: #233237;
}
.apartment__characteristic {
  margin-left: 17px;
}
.apartment__characteristic__element {
  padding: 17px 0;
  border-bottom: 1px solid #DFE7EE;
}
.apartment__characteristic__element:last-child {
  border-bottom: none;
}
.apartment__characteristic__text {
  display: flex;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #44565D;
}
.apartment__characteristic__text span {
  width: 218px;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 1565px) {
  .apartment__characteristic__text span {
    width: 180px;
  }
}
@media screen and (max-width: 1200px) {
  .apartment__characteristic__text span {
    width: 130px;
  }
}
@media screen and (max-width: 999px) {
  .apartment__characteristic__text span {
    width: 218px;
  }
}
@media screen and (max-width: 600px) {
  .apartment__characteristic__text span {
    width: 130px;
  }
}

.utp {
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 999px) {
  .utp {
    margin-top: 20px;
  }
}
.utp__title {
  max-width: 680px;
}
@media screen and (max-width: 999px) {
  .utp__title {
    margin: 0 auto;
  }
}
.utp__description {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  color: #45809F;
  max-width: 680px;
  margin-left: 163px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1534px) {
  .utp__description {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .utp__description {
    max-width: 600px;
    font-size: 25px;
  }
}
@media screen and (max-width: 1225px) {
  .utp__description {
    max-width: 500px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1168px) {
  .utp__description {
    margin-left: 10px;
  }
}
@media screen and (max-width: 999px) {
  .utp__description {
    margin: 0 auto;
  }
}
@media screen and (max-width: 749px) {
  .utp__description {
    max-width: 340px;
    font-size: 18px;
    line-height: normal;
  }
}
.utp__spheres {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -150px;
  right: 214px;
  z-index: 1;
}
@media screen and (max-width: 1650px) {
  .utp__spheres {
    right: 100px;
  }
}
@media screen and (max-width: 1534px) {
  .utp__spheres {
    right: 10px;
  }
}
@media screen and (max-width: 1168px) {
  .utp__spheres {
    width: 550px;
    height: 550px;
  }
}
@media screen and (max-width: 999px) {
  .utp__spheres {
    top: 150px;
    right: 20%;
  }
}
@media screen and (max-width: 749px) {
  .utp__spheres {
    top: 100px;
    width: 375px;
    height: 375px;
  }
}
.utp__spheres__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .utp__spheres {
    right: 15%;
  }
}
@media screen and (max-width: 520px) {
  .utp__spheres {
    right: 10%;
  }
}
@media screen and (max-width: 470px) {
  .utp__spheres {
    right: 20px;
  }
}
@media screen and (max-width: 410px) {
  .utp__spheres {
    right: 0;
  }
}
.utp__sphere {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-weight: 700;
  color: #4A7D98;
  background: radial-gradient(49.25% 49.25% at 39.51% 29.03%, #FFFFFF 0%, #A2C4D6 100%);
  border-radius: 100%;
}
.utp__sphere:nth-child(1) {
  font-size: 50px;
  width: 241px;
  height: 232px;
  top: 133px;
  left: 154px;
  z-index: 2;
}
@media screen and (max-width: 1168px) {
  .utp__sphere:nth-child(1) {
    font-size: 45px;
    width: 220px;
    height: 212px;
    left: 174px;
  }
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(1) {
    font-size: 35px;
    width: 163px;
    height: 157px;
    top: 110px;
    left: 110px;
  }
}
.utp__sphere:nth-child(2) {
  font-size: 40px;
  width: 197px;
  height: 190px;
  top: 72px;
  left: 0;
}
@media screen and (max-width: 1168px) {
  .utp__sphere:nth-child(2) {
    font-size: 35px;
    width: 177px;
    height: 170px;
    left: 40px;
  }
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(2) {
    font-size: 30px;
    width: 133px;
    height: 128px;
    left: 0;
  }
}
.utp__sphere:nth-child(3) {
  font-size: 30px;
  width: 197px;
  height: 190px;
  top: 44px;
  left: 308px;
}
@media screen and (max-width: 1168px) {
  .utp__sphere:nth-child(3) {
    font-size: 25px;
    width: 177px;
    height: 170px;
  }
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(3) {
    font-size: 20px;
    width: 136px;
    height: 131px;
    left: 210px;
  }
}
.utp__sphere:nth-child(4) {
  font-size: 30px;
  width: 128px;
  height: 125px;
  top: 255px;
  left: 390px;
}
@media screen and (max-width: 1168px) {
  .utp__sphere:nth-child(4) {
    font-size: 25px;
    width: 108px;
    height: 105px;
    top: 235px;
  }
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(4) {
    font-size: 20px;
    width: 86px;
    height: 85px;
    top: 190px;
    left: 270px;
  }
}
.utp__sphere:nth-child(5) {
  font-size: 30px;
  width: 160px;
  height: 156px;
  top: 350px;
  left: 295px;
}
@media screen and (max-width: 1168px) {
  .utp__sphere:nth-child(5) {
    font-size: 25px;
    width: 140px;
    height: 136px;
    top: 320px;
  }
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(5) {
    font-size: 20px;
    width: 108px;
    height: 105px;
    top: 250px;
    left: 210px;
  }
}
.utp__sphere:nth-child(6), .utp__sphere:nth-child(7), .utp__sphere:nth-child(8), .utp__sphere:nth-child(9) {
  filter: blur(10px);
}
.utp__sphere:nth-child(6), .utp__sphere:nth-child(8) {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(6), .utp__sphere:nth-child(8) {
    width: 40px;
    height: 40px;
  }
}
.utp__sphere:nth-child(6) {
  top: 30px;
  left: 197px;
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(6) {
    top: 50px;
    left: 140px;
  }
}
.utp__sphere:nth-child(7) {
  width: 77px;
  height: 80px;
  top: 191px;
  right: 0;
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(7) {
    display: none;
  }
}
.utp__sphere:nth-child(8) {
  top: 293px;
  left: 72px;
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(8) {
    top: 220px;
    left: 50px;
  }
}
.utp__sphere:nth-child(9) {
  width: 102px;
  height: 105px;
  top: 361px;
  left: 133px;
}
@media screen and (max-width: 749px) {
  .utp__sphere:nth-child(9) {
    width: 70px;
    height: 70px;
    top: 270px;
    left: 100px;
  }
}
.utp__photos {
  display: flex;
  height: 775px;
  margin-left: 163px;
  overflow: hidden;
}
@media screen and (max-width: 1800px) {
  .utp__photos {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1640px) {
  .utp__photos {
    margin-left: -20px;
  }
}
@media screen and (max-width: 1534px) {
  .utp__photos {
    justify-content: center;
    height: 600px;
    margin-top: 100px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1279px) {
  .utp__photos {
    margin-left: -100px;
  }
}
@media screen and (max-width: 1175px) {
  .utp__photos {
    margin-left: -250px;
  }
}
@media screen and (max-width: 999px) {
  .utp__photos {
    height: 465px;
    margin-left: -100px;
    margin-top: 450px;
  }
}
@media screen and (max-width: 835px) {
  .utp__photos {
    margin-left: -150px;
  }
}
@media screen and (max-width: 749px) {
  .utp__photos {
    height: 265px;
    margin-left: 0;
    margin-top: 350px;
  }
}
@media screen and (max-width: 600px) {
  .utp__photos {
    margin-left: -70px;
  }
}
@media screen and (max-width: 500px) {
  .utp__photos {
    margin-left: -150px;
  }
}
.utp__photos img {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 20px;
  margin-right: 16px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1534px) {
  .utp__photos img {
    width: 600px;
    height: 400px;
    margin-right: 12px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 999px) {
  .utp__photos img {
    width: 450px;
    height: 300px;
  }
}
@media screen and (max-width: 749px) {
  .utp__photos img {
    width: 263px;
    height: 175px;
  }
}
.utp__photos > div {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 84px;
}
@media screen and (max-width: 749px) {
  .utp__photos > div {
    margin-top: 30px;
  }
}
.utp__photos > div img {
  max-width: 387px;
  height: 232px;
  margin-right: 12px;
}
@media screen and (max-width: 1534px) {
  .utp__photos > div img {
    max-width: 300px;
    height: 180px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 999px) {
  .utp__photos > div img {
    max-width: 200px;
    height: 120px;
  }
}
@media screen and (max-width: 749px) {
  .utp__photos > div img {
    max-width: 142px;
    height: 85px;
  }
}
.utp__photos > div img:last-child {
  max-width: 630px;
  height: 446px;
  margin: 0;
}
@media screen and (max-width: 1534px) {
  .utp__photos > div img:last-child {
    max-width: 500px;
    height: 305px;
  }
}
@media screen and (max-width: 999px) {
  .utp__photos > div img:last-child {
    max-width: 400px;
    height: 244px;
  }
}
@media screen and (max-width: 749px) {
  .utp__photos > div img:last-child {
    max-width: 258px;
    height: 140px;
  }
}

.advantages {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 1006px;
  background: url(../imgs/advantages-bg.png) no-repeat;
  background-size: cover;
  margin-top: 100px;
}
@media screen and (max-width: 999px) {
  .advantages {
    background-position: right;
    height: 476px;
    margin-top: 0;
  }
}
.advantages__title {
  font-size: 100px;
  line-height: 100px;
}
@media screen and (max-width: 749px) {
  .advantages__title {
    z-index: 2;
  }
}
.advantages__title span {
  font-size: 80px;
  line-height: 80px;
}
@media screen and (max-width: 749px) {
  .advantages__title span {
    font-size: 40px;
    line-height: 40px;
  }
}
.advantages__content {
  position: absolute;
  display: flex;
  height: 100%;
  margin-left: 172px;
  z-index: 1;
}
@media screen and (max-width: 1800px) {
  .advantages__content {
    margin-left: 75px;
  }
}
@media screen and (max-width: 1125px) {
  .advantages__content {
    margin-left: 0;
  }
}
@media screen and (max-width: 999px) {
  .advantages__content {
    height: auto;
    margin-top: -40px;
    margin-left: 45%;
  }
}
@media screen and (max-width: 749px) {
  .advantages__content {
    margin-left: 30%;
  }
}
@media screen and (max-width: 600px) {
  .advantages__content {
    margin-left: 20%;
  }
}
@media screen and (max-width: 500px) {
  .advantages__content {
    margin-left: 10%;
  }
}
@media screen and (max-width: 400px) {
  .advantages__content {
    margin-left: 20px;
  }
}
.advantages__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 323px;
  height: 323px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  rotate: 45deg;
  margin-top: auto;
}
@media screen and (max-width: 1440px) {
  .advantages__card {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 999px) {
  .advantages__card {
    width: 130px;
    height: 130px;
  }
}
.advantages__card:nth-child(1), .advantages__card:nth-child(5) {
  margin-bottom: 85px;
}
@media screen and (max-width: 1440px) {
  .advantages__card:nth-child(1), .advantages__card:nth-child(5) {
    margin-bottom: 125px;
  }
}
@media screen and (max-width: 999px) {
  .advantages__card:nth-child(1), .advantages__card:nth-child(5) {
    margin-bottom: 177px;
  }
}
.advantages__card:nth-child(2) {
  margin-bottom: 405px;
  transform: translateY(110px);
}
@media screen and (max-width: 1440px) {
  .advantages__card:nth-child(2) {
    margin-bottom: 375px;
    transform: translateY(90px);
  }
}
@media screen and (max-width: 999px) {
  .advantages__card:nth-child(2) {
    margin-bottom: 307px;
    transform: translateY(40px);
  }
}
.advantages__card:nth-child(3) {
  transform: translateY(225px);
  margin-bottom: 245px;
}
@media screen and (max-width: 1440px) {
  .advantages__card:nth-child(3) {
    margin-bottom: 252px;
    transform: translateY(180px);
  }
}
@media screen and (max-width: 999px) {
  .advantages__card:nth-child(3) {
    margin-bottom: 235px;
    transform: translateY(82px);
  }
}
.advantages__card:nth-child(4) {
  margin-bottom: 250px;
}
@media screen and (max-width: 1854px) {
  .advantages__card:nth-child(4) {
    margin-bottom: 85px;
    transform: translateY(342px);
    transform: translateX(-342px);
  }
}
@media screen and (max-width: 1440px) {
  .advantages__card:nth-child(4) {
    margin-bottom: 122px;
    transform: translateY(0);
    transform: translateX(-267px);
  }
}
@media screen and (max-width: 999px) {
  .advantages__card:nth-child(4) {
    margin-bottom: 365px;
    transform: translateY(410px);
  }
}
@media screen and (max-width: 1854px) {
  .advantages__card:nth-child(5) {
    margin-top: 919px;
    margin-bottom: 0;
    transform: translateY(455px);
    transform: translateX(-455px);
  }
}
@media screen and (max-width: 1440px) {
  .advantages__card:nth-child(5) {
    margin-top: 885px;
    transform: translateX(-358px);
  }
}
@media screen and (max-width: 999px) {
  .advantages__card:nth-child(5) {
    margin-top: auto;
    margin-bottom: 295px;
    transform: translateY(452px);
  }
}
.advantages__card__wrapper {
  rotate: -45deg;
}
.advantages__card__title {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #45809F;
  max-width: 213px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .advantages__card__title {
    font-size: 25px;
    line-height: 25px;
    max-width: 200px;
  }
}
@media screen and (max-width: 999px) {
  .advantages__card__title {
    font-size: 18px;
    line-height: 18px;
  }
}
.advantages__card__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  text-transform: lowercase;
  color: #000;
  max-width: 254px;
}
@media screen and (max-width: 1440px) {
  .advantages__card__text {
    font-size: 12px;
    line-height: 12px;
    max-width: 230px;
  }
}
@media screen and (max-width: 999px) {
  .advantages__card__text {
    display: none;
  }
}
.advantages__clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.advantages__cloud {
  position: absolute;
}
.advantages__cloud:nth-child(1), .advantages__cloud:nth-child(2) {
  width: 490px;
  height: 245px;
}
@media screen and (max-width: 999px) {
  .advantages__cloud:nth-child(1), .advantages__cloud:nth-child(2) {
    display: none;
  }
}
.advantages__cloud:nth-child(3), .advantages__cloud:nth-child(4), .advantages__cloud:nth-child(5), .advantages__cloud:nth-child(6), .advantages__cloud:nth-child(7) {
  max-width: 869px;
  height: 435px;
  top: -192px;
}
.advantages__cloud:nth-child(1) {
  top: 120px;
  left: 300px;
  z-index: 1;
}
.advantages__cloud:nth-child(2) {
  top: 10px;
  left: 460px;
  z-index: 1;
}
.advantages__cloud:nth-child(3) {
  top: -140px;
  left: -183px;
}
.advantages__cloud:nth-child(4) {
  top: -140px;
  left: 177px;
}
@media screen and (max-width: 999px) {
  .advantages__cloud:nth-child(4) {
    display: none;
  }
}
.advantages__cloud:nth-child(5) {
  right: 534px;
}
.advantages__cloud:nth-child(6) {
  right: 145px;
}
@media screen and (max-width: 999px) {
  .advantages__cloud:nth-child(6) {
    display: none;
  }
}
.advantages__cloud:nth-child(7) {
  right: -264px;
}
.advantages__cloud:nth-child(8) {
  right: 94px;
  bottom: -313px;
}
@media screen and (max-width: 999px) {
  .advantages__cloud:nth-child(8) {
    display: none;
  }
}
.advantages__cloud:nth-child(9) {
  left: 0;
  bottom: -239px;
}
@media screen and (max-width: 999px) {
  .advantages__cloud:nth-child(9) {
    bottom: -300px;
  }
}

.scheme {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}
@media screen and (max-width: 749px) {
  .scheme__title {
    margin-bottom: 80px;
  }
}
.scheme__wrapper {
  position: relative;
  display: flex;
  height: 652px;
}
@media screen and (max-width: 1279px) {
  .scheme__wrapper {
    height: -moz-max-content;
    height: max-content;
  }
}
.scheme__bg {
  position: absolute;
  margin-top: -176px;
  margin-left: 94px;
  pointer-events: none;
}
@media screen and (max-width: 1700px) {
  .scheme__bg {
    height: 800px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1425px) {
  .scheme__bg {
    height: 600px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1330px) {
  .scheme__bg {
    height: 500px;
  }
}
@media screen and (max-width: 1100px) {
  .scheme__bg {
    height: 400px;
  }
}
@media screen and (max-width: 999px) {
  .scheme__bg {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 749px) {
  .scheme__bg {
    left: 12%;
    width: 560px;
  }
}
@media screen and (max-width: 630px) {
  .scheme__bg {
    left: 5%;
  }
}
@media screen and (max-width: 590px) {
  .scheme__bg {
    left: -10%;
  }
}
@media screen and (max-width: 515px) {
  .scheme__bg {
    width: 500px;
  }
}
@media screen and (max-width: 460px) {
  .scheme__bg {
    width: 450px;
  }
}
@media screen and (max-width: 410px) {
  .scheme__bg {
    left: -20%;
  }
}
.scheme__compass {
  position: absolute;
  bottom: 0;
  left: 163px;
}
@media screen and (max-width: 999px) {
  .scheme__compass {
    top: 400px;
    left: auto;
    right: 25px;
  }
}
@media screen and (max-width: 749px) {
  .scheme__compass {
    top: 200px;
    right: 16px;
  }
}
.scheme__content {
  display: flex;
  flex-direction: column;
  height: 650px;
  max-width: 615px;
  border: 1px solid #D9D9D9;
  border-radius: 53px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: 7%;
  z-index: 1;
  transform: translateY(130px);
}
@media screen and (max-width: 1700px) {
  .scheme__content {
    margin-right: 40px;
    transform: translateY(100px);
  }
}
@media screen and (max-width: 1500px) {
  .scheme__content {
    height: 550px;
  }
}
@media screen and (max-width: 1279px) {
  .scheme__content {
    height: 610px;
    max-width: 400px;
  }
}
@media screen and (max-width: 999px) {
  .scheme__content {
    height: 550px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 500px;
  }
}
@media screen and (max-width: 800px) {
  .scheme__content {
    margin-top: 400px;
  }
}
@media screen and (max-width: 749px) {
  .scheme__content {
    height: 450px;
    border-radius: 30px;
    margin-top: 300px;
  }
}
@media screen and (max-width: 600px) {
  .scheme__content {
    margin: 0 13px;
    margin-top: 250px;
  }
}
.scheme__element {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  margin-top: 47px;
  margin-left: 36px;
}
@media screen and (max-width: 1500px) {
  .scheme__element {
    margin-top: 27px;
    margin-left: 16px;
  }
}
@media screen and (max-width: 749px) {
  .scheme__element {
    margin-top: 5px;
    margin-left: 12px;
  }
}
.scheme__element__icon {
  margin-right: 6px;
}
.scheme__element__wrapper {
  margin-top: 16px;
}
.scheme__element__title {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: #898989;
}
.scheme__element__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: lowercase;
  color: #554F4F;
  max-width: 456px;
  margin-right: 60px;
}
@media screen and (max-width: 1500px) {
  .scheme__element__text {
    margin-right: 0;
  }
}
@media screen and (max-width: 1279px) {
  .scheme__element__text {
    font-size: 14px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 749px) {
  .scheme__element__text {
    margin-left: -30px;
    margin-right: 0;
  }
}

.calc-ipoteka {
  margin-bottom: 175px;
}
.calc-ipoteka__title {
  margin-top: 164px;
  margin-bottom: 66px;
}
.calc-ipoteka__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  height: 531px;
  margin: 0 auto;
  border-radius: 87px;
  border: 1px solid #DEE7EE;
}
@media screen and (max-width: 1279px) {
  .calc-ipoteka__wrap {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 749px) {
  .calc-ipoteka__wrap {
    border-radius: 50px;
    width: calc(100% - 26px);
    margin: 0 13px;
  }
}
.calc-ipoteka__calc {
  margin-right: 37px;
}
@media screen and (max-width: 749px) {
  .calc-ipoteka__calc {
    margin: 0;
  }
}
.calc-ipoteka__banks {
  transform: translate(60px, -20px);
}
@media screen and (max-width: 1880px) {
  .calc-ipoteka__banks {
    transform: translate(20px, -20px);
  }
}
@media screen and (max-width: 1800px) {
  .calc-ipoteka__banks {
    transform: translate(60px, -20px);
  }
}
@media screen and (max-width: 1520px) {
  .calc-ipoteka__banks {
    transform: translate(20px, -20px);
  }
}
@media screen and (max-width: 1420px) {
  .calc-ipoteka__banks {
    transform: translate(0, -20px);
  }
}
@media screen and (max-width: 1350px) {
  .calc-ipoteka__banks {
    transform: translate(60px, -20px);
  }
}
@media screen and (max-width: 1279px) {
  .calc-ipoteka__banks {
    transform: translate(0, 60px);
  }
}
.calc-ipoteka__banks__title {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #4A7D98;
  margin-bottom: 30px;
}
@media screen and (max-width: 999px) {
  .calc-ipoteka__banks__title {
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.calc-ipoteka__banks_list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}
@media screen and (max-width: 1700px) {
  .calc-ipoteka__banks_list {
    width: 640px;
  }
}
@media screen and (max-width: 1350px) {
  .calc-ipoteka__banks_list {
    width: 620px;
  }
}
@media screen and (max-width: 1279px) {
  .calc-ipoteka__banks_list {
    width: 800px;
  }
}
@media screen and (max-width: 820px) {
  .calc-ipoteka__banks_list {
    width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .calc-ipoteka__banks_list {
    width: 380px;
  }
}
@media screen and (max-width: 450px) {
  .calc-ipoteka__banks_list {
    width: 300px;
  }
}
.calc-ipoteka__banks_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F4F6F9;
  box-sizing: border-box;
  width: 380px;
  height: 193px;
  padding: 0 25px 15px;
  border-radius: 31px;
  margin: 0 20px 20px 0;
  transition: opacity 0.3s linear;
}
@media screen and (max-width: 1700px) {
  .calc-ipoteka__banks_item {
    width: 300px;
    padding: 0 20px 15px;
  }
}
@media screen and (max-width: 1350px) {
  .calc-ipoteka__banks_item {
    margin: 0 10px 20px 0;
  }
}
@media screen and (max-width: 1279px) {
  .calc-ipoteka__banks_item {
    width: 380px;
    padding: 0 25px 15px;
    margin: 0 10px 20px 10px;
  }
}
@media screen and (max-width: 820px) {
  .calc-ipoteka__banks_item {
    width: 300px;
    padding: 0 20px 15px;
  }
}
@media screen and (max-width: 640px) {
  .calc-ipoteka__banks_item {
    width: 380px;
    margin: 0 0 10px 0;
  }
}
.calc-ipoteka__banks_item_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.calc-ipoteka__banks_item_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.calc-ipoteka__banks_item_stavka {
  display: flex;
  align-items: flex-end;
}
.calc-ipoteka__banks_item .title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #A1ADB4;
  margin-right: 5px;
}
.calc-ipoteka__banks_item .value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0F0F0F;
}
.calc-ipoteka__banks_item .value span {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #45809F;
}
.calc-ipoteka__control {
  position: relative;
  width: 725px;
  margin-left: 48px;
}
@media screen and (max-width: 1800px) {
  .calc-ipoteka__control {
    width: 600px;
  }
}
@media screen and (max-width: 1520px) {
  .calc-ipoteka__control {
    width: 500px;
  }
}
@media screen and (max-width: 1350px) {
  .calc-ipoteka__control {
    width: 400px;
  }
}
@media screen and (max-width: 1279px) {
  .calc-ipoteka__control {
    width: 725px;
  }
}
@media screen and (max-width: 999px) {
  .calc-ipoteka__control {
    width: 600px;
  }
}
@media screen and (max-width: 820px) {
  .calc-ipoteka__control {
    width: 500px;
  }
}
@media screen and (max-width: 820px) {
  .calc-ipoteka__control {
    width: 400px;
  }
}
@media screen and (max-width: 749px) {
  .calc-ipoteka__control {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .calc-ipoteka__control {
    width: 300px;
  }
}
.calc-ipoteka__content {
  display: flex;
  justify-content: flex-end;
}

.ipoteka-control {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1279px) {
  .ipoteka-control {
    margin-top: 50px;
  }
}
@media screen and (max-width: 749px) {
  .ipoteka-control {
    margin-top: 25px;
  }
}
.ipoteka-control__payment {
  font-family: "Officina Serif", Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}
.ipoteka-control__payment i {
  font-style: normal;
}
.ipoteka-control__payment p {
  font-size: 24px;
  line-height: 1.2em;
  margin: 0;
  color: #5D666F;
}
.ipoteka-control__payment b {
  font-size: 35px;
  line-height: 1em;
  font-weight: 500;
  color: rgb(242, 161, 0);
}
.ipoteka-control__payment b.hide {
  opacity: 0.2;
  filter: grayscale(1);
}
.ipoteka-control__payment b span {
  color: black;
}
.ipoteka-control__item {
  margin-bottom: 53px;
}
.ipoteka-control__item:last-child {
  margin-bottom: 0;
}
.ipoteka-control__item--vznos .ipoteka-control__input {
  display: flex;
  justify-content: space-between;
}
.ipoteka-control__item--vznos .ipoteka-control__input #ipoteka_percent {
  width: 50px;
  font-size: 20px;
  text-align: right;
}
@media screen and (max-width: 820px) {
  .ipoteka-control__item--vznos .ipoteka-control__input #ipoteka_percent {
    text-align: center;
  }
}
.ipoteka-control__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #96ABB2;
}
.ipoteka-control__input {
  margin-bottom: 10px;
}
.ipoteka-control__input input {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #44565D;
  background: none;
  width: 150px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 0;
  border: none;
}
.ipoteka-control .ui-widget.ui-widget-content {
  border: 0;
}
.ipoteka-control .ui-slider-horizontal {
  width: calc(100% - 27px);
  height: 2px;
  background-color: #DDE7ED;
  margin-left: 25px;
  position: relative;
}
.ipoteka-control .ui-slider-horizontal:before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #45809F;
  left: -24px;
  width: 25px;
}
.ipoteka-control .ui-slider-horizontal:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: transparent;
  right: -25px;
  width: 50px;
}
.ipoteka-control .ui-widget-header {
  background: #45809F;
}
.ipoteka-control .ui-slider .ui-slider-handle {
  width: 27px;
  height: 12px;
  border-radius: 5px;
  background: #45809F;
  outline: none;
  border: none !important;
  cursor: grab;
  margin-left: -13.5px;
}
.ipoteka-control .ui-slider-horizontal .ui-slider-handle {
  top: -6px;
}
.ipoteka-control__order {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
@media screen and (max-width: 820px) {
  .ipoteka-control__order {
    flex-direction: column;
  }
}
.ipoteka-control__order .ipoteka-control__btn.btn.btn-new {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #44565D;
  background-color: #C8D9E3;
  white-space: nowrap;
  padding: 21px 65px;
  border-radius: 31px;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.ipoteka-control__order .ipoteka-control__btn.btn.btn-new:hover {
  color: #233237;
}
@media screen and (max-width: 820px) {
  .ipoteka-control__order .ipoteka-control__btn.btn.btn-new {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.ipoteka-control__order p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #B5BDC0;
}
@media screen and (max-width: 1350px) {
  .ipoteka-control__order p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1279px) {
  .ipoteka-control__order p {
    font-size: 14px;
  }
}
@media screen and (max-width: 820px) {
  .ipoteka-control__order p {
    text-align: center;
  }
}

.footer {
  background-color: #F6F6F6;
  margin-top: 98px;
  padding-top: 36px;
}
@media screen and (max-width: 999px) {
  .footer {
    margin-top: 75px;
  }
}
.footer__wrapper {
  position: relative;
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 1168px) {
  .footer__wrapper {
    width: calc(100% - 10px);
    margin-left: 10px;
  }
}
.footer__wrapper > div {
  display: flex;
}
@media screen and (max-width: 1600px) {
  .footer__wrapper > div {
    flex-direction: column;
    margin-left: 3px;
  }
}
@media screen and (max-width: 1168px) {
  .footer__wrapper > div > div {
    margin-right: 13px;
  }
}
.footer__title {
  margin-left: 0;
}
.footer__img {
  display: flex;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 43px;
  pointer-events: none;
}
@media screen and (max-width: 749px) {
  .footer__img {
    margin-bottom: 37px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
@media screen and (max-width: 749px) {
  .footer__content {
    margin-left: 0;
  }
}
.footer__tel-box {
  display: flex;
  margin-top: 40px;
}
.footer__text {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  color: #000;
  margin-bottom: 20px;
}
.footer__text b {
  font-weight: 700;
}
@media screen and (max-width: 840px) {
  .footer__text b {
    color: #44565D;
  }
}
.footer__text span {
  color: #45809F;
}
.footer__call-button {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #44565D;
  transition: all 0.1s linear;
  height: 50px;
  padding: 0 35px;
  padding-top: 2px;
  border-radius: 31px;
  margin-left: 18px;
}
.footer__call-button:hover {
  color: #233237;
}
.footer__socials {
  margin-top: 40px;
  margin-bottom: 20px;
}
.footer__socials > div {
  display: flex;
}
.footer__socials__element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(198, 203, 206, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 40px;
  margin-right: 9px;
}
.footer__socials__element path {
  transition: all 0.1s linear;
}
.footer__socials__element_vk:hover path {
  fill: #0A74F9;
}
.footer__socials__element_viber:hover path {
  fill: #8F53A4;
}
.footer__socials__element_whatsapp:hover path {
  fill: #2ED470;
}
.footer__logo {
  position: absolute;
  right: 0;
  bottom: 10px;
}
@media screen and (max-width: 1168px) {
  .footer__logo {
    right: 13px;
    bottom: 10px;
  }
}
@media screen and (max-width: 749px) {
  .footer__logo {
    bottom: 58px;
  }
}/*# sourceMappingURL=card.css.map */