@import url(reset.css);
/*
@media screen and (max-width: 1279px) {
      font-size: 23px;
  }
*/
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Cyrillic Bold"), local("Bebas-Neue-Cyrillic-Bold"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.woff2") format("woff2"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.woff") format("woff"), url("../fonts/BebasNeue/700/BebasNeueCyrillic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Cyrillic Regular"), local("Bebas-Neue-Cyrillic-Regular"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.woff2") format("woff2"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.woff") format("woff"), url("../fonts/BebasNeue/400/BebasNeueCyrillic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy/300/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/300/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/300/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/400/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/400/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/400/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #B6C0CB;
}

body::-webkit-scrollbar-thumb {
  background-color: #7AA0C5;
  border-radius: 20px;
}

.section-title {
  position: relative;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: #898989;
  width: -moz-max-content;
  width: max-content;
  margin-left: 163px;
  z-index: 1;
}
@media screen and (max-width: 1534px) {
  .section-title {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .section-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 1225px) {
  .section-title {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}
@media screen and (max-width: 1168px) {
  .section-title {
    margin-left: 10px;
  }
}
@media screen and (max-width: 749px) {
  .section-title {
    font-size: 40px !important;
    line-height: 40px !important;
  }
}
.section-title span {
  color: #5C90AB;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 50px auto;
}
@media screen and (max-width: 999px) {
  .header {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8980392157);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2509803922);
    height: 69px;
    margin: 0;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: rgba(97, 137, 174, 0.5019607843);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding-top: 2px;
  padding-left: 45px;
  padding-right: 27px;
  margin-right: 13px;
  border-radius: 31px;
  transition: all 0.3s linear;
}
@media screen and (max-width: 999px) {
  .header__menu {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
.header__nav {
  display: flex;
  transition: all 0.3s linear;
}
.header__nav_hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  top: 50px;
  left: 0;
  opacity: 0;
  transition: all 0.1s linear;
  pointer-events: none;
}
.header__nav_hidden > .header__nav__element {
  color: #5C90AB;
}
.header__nav_hidden > .header__nav__element::before {
  display: none;
}
.header__nav__element {
  position: relative;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: #fff;
  transition: all 0.1s linear;
  margin-right: 50px;
}
.header__nav__element::before {
  content: "";
  position: absolute;
  background-color: #FC9D27;
  transition: all 0.1s linear;
  width: 100%;
  height: 3px;
  bottom: -12px;
  opacity: 0;
}
.header__nav__element:hover, .header__nav__element:active {
  color: #233237;
}
.header__nav__element:hover::before, .header__nav__element:active::before {
  opacity: 1;
}
.header__nav__more {
  display: none;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.header__nav__more.active {
  display: block;
}
.header__nav__more-box {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.1s linear;
  margin-right: 50px;
}
@media screen and (max-width: 999px) {
  .header__nav__more-box {
    display: none;
  }
}
.header__socials {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
@media screen and (max-width: 1129px) {
  .header__socials {
    margin-left: 0;
  }
}
@media screen and (max-width: 999px) {
  .header__socials {
    margin: 0 30px;
  }
}
@media screen and (max-width: 749px) {
  .header__socials {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .header__socials {
    display: none;
  }
}
.header__socials__element {
  display: flex;
  margin-right: 30px;
}
.header__socials__element path {
  transition: all 0.1s linear;
}
@media screen and (max-width: 999px) {
  .header__socials__element {
    margin-right: 20px;
  }
  .header__socials__element path {
    fill: #44565D;
  }
}
.header__socials__element_vk:hover path {
  fill: #0A74F9;
}
.header__socials__element_viber:hover path {
  fill: #8F53A4;
}
.header__socials__element_whatsapp:hover path {
  fill: #2ED470;
}
.header__logo {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__logo {
    display: flex;
  }
}
.header__tel {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all 0.1s linear;
}
.header__tel:hover, .header__tel:active {
  color: #233237;
}
@media screen and (max-width: 999px) {
  .header__tel {
    color: #44565D;
  }
}
@media screen and (max-width: 749px) {
  .header__tel {
    position: absolute;
    content: url(../imgs/svg/tel-icon.svg);
    right: 20px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: #fff;
  transition: all 0.1s linear;
  background-color: rgba(97, 137, 174, 0.5019607843);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  width: 157px;
  padding: 0 69px;
  padding-top: 2px;
  border-radius: 31px;
  margin-right: 30px;
}
.header__button:hover, .header__button:active {
  color: #233237;
}
@media screen and (max-width: 999px) {
  .header__button {
    display: none;
  }
}
.header__burger-button {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding: 19px 31px 17px 34px;
  border: none;
  border-radius: 31px;
}
.header__burger-button path {
  transition: all 0.1s linear;
}
.header__burger-button:hover path {
  fill: #233237;
}
@media screen and (max-width: 999px) {
  .header__burger-button {
    position: absolute;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    padding: 0;
    border-radius: 0;
    top: 27px;
    left: 20px;
  }
}

.header__wrapper {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.invisible {
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.invisible > .header__nav, .invisible > .header__socials {
  opacity: 0;
}
@media screen and (max-width: 999px) {
  .invisible > .header__nav, .invisible > .header__socials {
    opacity: 1;
  }
}
.invisible > .header__nav__more-box {
  opacity: 0;
}

.header__logo {
  display: flex !important;
  margin-right: 47px;
}
@media screen and (max-width: 999px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__menu {
  padding-left: 29px;
  padding-right: 16px;
}
.header__socials__element:last-child {
  margin-right: 0;
}
@media screen and (max-width: 999px) {
  .header__button {
    display: flex;
    background-color: transparent;
    color: #44565D;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 749px) {
  .header__button {
    position: absolute;
    content: url(../imgs/svg/tel-icon.svg);
    width: auto;
    right: 20px;
  }
}

.burger {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100dvh;
  right: -100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
.burger__space {
  position: absolute;
  width: 100%;
  height: 100%;
}
.burger__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: -100%;
  width: 45%;
  height: 100%;
  padding-left: 108px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
@media screen and (max-width: 999px) {
  .burger__content {
    padding-left: 25px;
  }
}
@media screen and (max-width: 770px) {
  .burger__content {
    width: 50%;
  }
}
@media screen and (max-width: 749px) {
  .burger__content {
    box-sizing: border-box;
    padding-left: 15px;
    width: 100%;
  }
}
.burger__close-button {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border: none;
  background-color: transparent;
  top: 29px;
  right: 36px;
}
.burger__nav {
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media screen and (max-width: 840px) {
  .burger__nav {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 900px) {
  .burger__nav {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.burger__nav__element {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  color: #44565D;
  transition: all 0.1s linear;
}
.burger__nav__element:hover {
  color: #4A7D98;
}
@media screen and (max-width: 840px) {
  .burger__nav__element {
    font-size: 30px;
    line-height: 50px;
  }
}
@media screen and (max-height: 800px) {
  .burger__nav__element {
    font-size: 30px;
    line-height: 50px;
  }
}
.burger-open, .burger-open > .burger__content {
  right: 0;
}

.body-noscroll {
  overflow-y: hidden;
}

.select-apartment {
  display: flex;
  flex-direction: column;
}
.select-apartment__title {
  margin-top: 194px;
  margin-bottom: 86px;
}
@media screen and (max-width: 999px) {
  .select-apartment__title {
    margin: 100px 0 33px 0;
  }
}
@media screen and (max-width: 749px) {
  .select-apartment__title {
    margin: 100px 0 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .select-apartment__title {
    margin-left: 13px;
  }
}
.select-apartment__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 83%;
  margin: 0 auto;
}
.select-apartment__card {
  background-color: #F4F6F9;
  border-radius: 10px;
  transition: all 0.1s linear;
  margin: 0 15px 15px 0;
  text-decoration: none;
}
@media screen and (max-width: 999px) {
  .select-apartment__card:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (max-width: 913px) {
  .select-apartment__card {
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .select-apartment__card {
    margin-left: 15px;
    margin-right: 15px !important;
  }
}
.select-apartment__card:hover {
  box-shadow: 0px 0px 50px 0px rgba(23, 51, 66, 0.2);
  cursor: pointer;
}
.select-apartment__card:hover .select-apartment__card__like path {
  fill: #FC9D27;
}
.select-apartment__card:hover .select-apartment__card__rating path {
  stroke: #FC9D27;
}
.select-apartment__card__info {
  max-width: 183px;
  display: flex;
  flex-direction: column;
  margin: 15px 0 40px 20px;
}
.select-apartment__card__second-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8EA4B0;
  margin-bottom: 5px;
}
.select-apartment__card__second-text:last-child {
  margin-top: 5px;
}
.select-apartment__card__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
}
.select-apartment__card__text span {
  color: #898989;
}
.select-apartment__card__image {
  margin: 0 30px 64px;
}
@media screen and (max-width: 749px) {
  .select-apartment__card__image {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .select-apartment__card__image {
    margin: 0 15px 40px;
  }
}
.select-apartment__card__bottom {
  display: flex;
  margin: 0 33px 18px 20px;
}
.select-apartment__card__date {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #BCC5CA;
}
.select-apartment__card__like {
  margin: 0 20px 0 auto;
}
.select-apartment__card__like path, .select-apartment__card__rating path {
  transition: all 0.1s linear;
  fill: transparent;
  stroke: transparent;
}

.footer {
  background-color: #F6F6F6;
  margin-top: 98px;
  padding-top: 36px;
}
@media screen and (max-width: 999px) {
  .footer {
    margin-top: 75px;
  }
}
.footer__wrapper {
  position: relative;
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 1168px) {
  .footer__wrapper {
    width: calc(100% - 10px);
    margin-left: 10px;
  }
}
.footer__wrapper > div {
  display: flex;
}
@media screen and (max-width: 1600px) {
  .footer__wrapper > div {
    flex-direction: column;
    margin-left: 3px;
  }
}
@media screen and (max-width: 1168px) {
  .footer__wrapper > div > div {
    margin-right: 13px;
  }
}
.footer__title {
  margin-left: 0;
}
.footer__img {
  display: flex;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 43px;
  pointer-events: none;
}
@media screen and (max-width: 749px) {
  .footer__img {
    margin-bottom: 37px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
@media screen and (max-width: 749px) {
  .footer__content {
    margin-left: 0;
  }
}
.footer__tel-box {
  display: flex;
  margin-top: 40px;
}
.footer__text {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  color: #000;
  margin-bottom: 20px;
}
.footer__text b {
  font-weight: 700;
}
@media screen and (max-width: 840px) {
  .footer__text b {
    color: #44565D;
  }
}
.footer__text span {
  color: #45809F;
}
.footer__call-button {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #44565D;
  transition: all 0.1s linear;
  height: 50px;
  padding: 0 35px;
  padding-top: 2px;
  border-radius: 31px;
  margin-left: 18px;
}
.footer__call-button:hover {
  color: #233237;
}
.footer__socials {
  margin-top: 40px;
  margin-bottom: 20px;
}
.footer__socials > div {
  display: flex;
}
.footer__socials__element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(198, 203, 206, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 40px;
  margin-right: 9px;
}
.footer__socials__element path {
  transition: all 0.1s linear;
}
.footer__socials__element_vk:hover path {
  fill: #0A74F9;
}
.footer__socials__element_viber:hover path {
  fill: #8F53A4;
}
.footer__socials__element_whatsapp:hover path {
  fill: #2ED470;
}
.footer__logo {
  position: absolute;
  right: 0;
  bottom: 10px;
}
@media screen and (max-width: 1168px) {
  .footer__logo {
    right: 13px;
    bottom: 10px;
  }
}
@media screen and (max-width: 749px) {
  .footer__logo {
    bottom: 58px;
  }
}/*# sourceMappingURL=select-apartment.css.map */